#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	cargo build --release --all-features

override_dh_auto_test:
	cargo test --release --all-features

override_dh_auto_install:
	install -Dm755 target/release/mommy debian/shell-mommy/usr/bin/mommy
	install -Dm755 target/release/cargo-mommy debian/shell-mommy/usr/bin/cargo-mommy

override_dh_auto_clean:
	cargo clean
