[env]
RUST_PANIC_STRATEGY = "abort"
SCCACHE_IDLE_TIMEOUT = "10800"
SCCACHE_DIRECT = "true"

[build]
incremental = false
target = "x86_64-unknown-linux-gnu"

[target.x86_64-unknown-linux-gnu]
linker = "clang"
rustflags = [
  "-C",
  "target-cpu=native",
  "-C",
  "llvm-args=-enable-dfa-jump-thread",
]
